<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iotek.dao.ApplicationFormDao">
	<select id="queryAllApplicationForm" resultType="ApplicationForm">
		SELECT * FROM applicationForms
	</select>
	
	<delete id="deleteApplicationForm" parameterType="int">
		DELETE FROM applicationForms WHERE id = #{id}
	</delete>
	
	<update id="updateStatus">
		UPDATE applicationForms SET status = '已查看' WHERE id=#{id}
	</update>
	
	<update id="updateInterviewStatus">
		UPDATE applicationForms SET interviewStatus = '已面试' WHERE id=#{id}
	</update>
	
	<insert id="addApplicationForm" parameterType="ApplicationForm">
		INSERT INTO 
			applicationForms(uId,date,status,interviewStatus) 
		VALUES
			(#{uId},#{date},#{status},#{interviewStatus})
	</insert>
	
</mapper>












