<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iotek.dao.FeedbackFormDao">
	<select id="queryByUID" resultType="FeedbackForm">
		SELECT * FROM feedbackForms WHERE uId = #{uId}
	</select>
	<select id="queryByUIDAndStatus" resultType="FeedbackForm">
		SELECT * FROM feedbackForms WHERE uId = #{uId} AND status='未查看'
	</select>
	<insert id="addFeedbackForm" parameterType="FeedbackForm">
		INSERT INTO 
			feedbackForms(uId,date,status,interviewStatus,interviewTime,hiring) 
		VALUES
			(#{uId},#{date},#{status},#{interviewStatus},#{interviewTime},#{hiring})
	</insert>
	<update id="updateHiring">
		UPDATE feedbackForms SET hiring = '已录用' WHERE uId = #{uId}
	</update>
	<update id="updateStatus">
		UPDATE feedbackForms SET hiring = '已查看' WHERE uId = #{uId}
	</update>
	<select id="query" resultType="FeedbackForm">
		SELECT * FROM feedbackForms WHERE uId = #{uId} AND status='已查看'
	</select>
	<select id="queryAll" resultType="FeedbackForm">
		SELECT * FROM feedbackForms
	</select>
	<delete id="del">
		DELETE FROM feedbackForms WHERE uId = #{uId}
	</delete>
</mapper>












